<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Group 7">
    <meta name="keywords" content="admin,dashboard">
    <meta name="author" content="Project2">

    <!-- title -->
    <title>AuditProof</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/plugins/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="../../assets/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="../../assets/css/lime.min.css" rel="stylesheet">
    <link href="../../assets/css/lime.css" rel="stylesheet">

</head>

<body>
    
        <div class="lime-container">
        <div class="lime-body">
            {{{body}}}
        </div>
        
        <div class="lime-footer">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
        

    </div>



    



    <!-- Javascripts -->
    <script src="../../assets/plugins/jquery/jquery-3.1.0.min.js"></script>
    <script src="../../assets/plugins/bootstrap/popper.min.js"></script>
    <script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="../../assets/plugins/chartjs/chart.min.js"></script>
    <script src="../../assets/plugins/apexcharts/dist/apexcharts.min.js"></script>
    <script src="../../assets/plugins/toastr/toastr.min.js"></script>
    <script src="../../assets/js/lime.min.js"></script>
    <script src="../../assets/js/pages/dashboard.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script  src="/assets/js/login.js"></script>
</body>

</html>