<div class="error-page err-404 vh-100">
  <div class='loader'>
    <div class='spinner-grow text-primary' role='status'>
      <span class='sr-only'>Loading...</span>
    </div>
  </div>
  <div class="container">
    <div class="error-container">
      <div class="error-info">
        <h1>404</h1>
        <p>It seems that the page you are looking for no longer exists.<br>Please go to the <a href="/">homepage</a>.</p>
      </div>
      <div class="error-image"></div>
    </div>
  </div>
</div>