<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-title">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-separator-1">
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Invoice</li>
                    </ol>
                </nav>
                <h3>Accounts Receivable</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <div class="invoice-header">
                                <h5>Company</h5>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="invoice-header">
                                <h4 class="float-right">Invoice</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg m-b-md">
                                    <p class="bold">Billed From:</p>
                                    <span>Stacks</span><br>
                                    <span>5025 Collwood Blvd, apt. 2314</span><br>
                                    <span>San Diego, CA 92115</span><br>
                                    <span>P: (619) 511-2333</span>
                                </div>
                                <div class="col-lg m-b-md">
                                    <p class="bold">Billed To:</p>
                                    <span>John Doe</span><br>
                                    <span>5025 Collwood Blvd, apt. 2314</span><br>
                                    <span>San Diego, CA 92115</span><br>
                                    <span>P: (619) 678-9800</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="invoice-info m-b-md">
                                <p>Invoice Number: <span>20191008-5689-87</span></p>
                                <p>Order ID: <span>870986</span></p>
                                <p>Product ID: <span>768</span></p>
                                <p>Issue Date: <span>October 8, 2019</span></p>
                                <p>Due Date: <span>December 8, 2019</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="table-responsive m-t-xxl">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Product</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col" class="text-right">Unit Price</th>
                                            <th scope="col" class="text-right">Total Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Space (Extended License)</td>
                                            <td>Cras hendrerit ipsum nec nulla sodales, eu pretium lacus temporxw.</td>
                                            <td>2</td>
                                            <td class="text-right">$500.00</td>
                                            <td class="text-right">$1000.00</td>
                                        </tr>
                                        <tr>
                                            <td>Alpha (Extended License)</td>
                                            <td>Sed mattis lobortis eros nec posuere.</td>
                                            <td>1</td>
                                            <td class="text-right">$500.00</td>
                                            <td class="text-right">$500.00</td>
                                        </tr>
                                        <tr>
                                            <td>Modern</td>
                                            <td>Nullam pharetra neque a urna egestas.</td>
                                            <td>1</td>
                                            <td class="text-right">$22.00</td>
                                            <td class="text-right">$22.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 m-t-xxl">
                            <div class="invoice-info">
                                <span class="bold m-b-md d-block">Info:</span>
                                <p>Sed consequat et eros condimentum fermentum. Praesent porta nibh lectus, lacinia
                                    sodales ligula finibus quis. Etiam ac dolor in turpis consequat accumsan. Vestibulum
                                    hendrerit cursus diam auctor fermentum. Sed a nulla diam.</p>
                            </div>
                        </div>
                        <div class="col-sm-4 m-t-xxl">
                            <div class="invoice-info">
                                <p>Sub-Total <span>$1522.00</span></p>
                                <p>Tax <span>$76.10</span></p>
                                <p>Discount <span>-$45</span></p>
                                <p class="bold">Total <span>$1553.10</span></p>
                                <button type="button" class="btn btn-primary btn-block">Pay Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>