    <div class="lime-sidebar">
        <div class="lime-sidebar-inner slimscroll">
            <ul class="accordion-menu">
                <li>
                    <a href="/logout">Log out</a>
                </li>
                <li>
                    <a href="/invoice">Invoices</a>
                </li>
                <li>
                    <a href="/ar">Accounts Receivable</a>
                </li>
                <li>
                    <a href="/cash">Cash</a>
                </li>
                <li>
                    <a href="/customer">Customers</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="lime-header">
        <nav class="navbar navbar-expand-lg">
            <section class="material-design-hamburger navigation-toggle">
                <a href="javascript:void(0)" class="button-collapse material-design-hamburger__icon">
                    <span class="material-design-hamburger__layer"></span>
                </a>
            </section>
            <a class="navbar-brand" href="/">AuditProof</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="material-icons">keyboard_arrow_down</i>
            </button>


        </nav>
    </div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card stat-card">
                <div class="card-body">
                    <h5 class="card-title">Accounts Receivable</h5>
                    <h2 class="float-right">$50,000</h2>
                    <p>outstanding</p>
                    <div class="progress" style="height: 10px;">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="45"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card stat-card">
                <div class="card-body">
                    <h5 class="card-title">Current Revenue</h5>
                    <h2 class="float-right">$1,255,000</h2>
                    <p>YTD Revenue</p>
                    <div class="progress" style="height: 10px;">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 72%" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card stat-card">
                <div class="card-body">
                    <h5 class="card-title">New Customer</h5>
                    <h2 class="float-right">4</h2>
                    <p>For last fiscal period</p>
                    <div class="progress" style="height: 10px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="45"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Last Transactions</h5>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Customers</th>
                                    <th scope="col">Amount Owed</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                
                                {{#each name}}
                                
                                <tr>
                                    <td>{{this.dataValues.id}}</td>
                                    <td>{{this.dataValues.name}}</td>
                                    <td>12,500</td>
                                    <td><span class="badge badge-warning">In Progress</span></td>
                                </tr>
                                {{/each}}
                                

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
    
    
    
</div>