<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-title">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-separator-1">
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Invoice</li>
                    </ol>
                </nav>
                <h3>Invoices</h3>
            </div>
        </div>
    </div>

    
                    <table class="table">
                            <thead>
                                <tr>

                                    <th scope="col">Customer ID</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Amount Owed</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                
                                
                                {{#each id}}
                                
                                <tr>
                                    <td>{{this.dataValues.customer_id}}</td>
                                    <td>{{this.dataValues.date}}</td>
                                    <td>{{this.dataValues.amountOwed}}</td>
                                    
                                </tr>
                                {{/each}}
                                

                            </tbody>
                        </table>
    

</div>